*{
    margin: 0;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(248,249,253)
}

.header-title {
    display: grid;
    height: 100px;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    justify-items: center;
    font-size: 14px;
}

.nav-item {
    display: inline-block;
    padding-inline: 10px;
}

.sign-in-link {
    padding-right: 30px;
    text-decoration: none;
    color: black;
}

.sign-up-btn {
    width: 137px;
    height: 52px;
    border-radius: 10px;
    border: none;
    background-color: rgb(79,70,186);
    color: azure;
}

.header-content {
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items:center;
    height: 700px;
}

.header-headline {
    height: 400px;
    width:600px;
}

.headline-title {
    font-size: 60px;
}

.headline-para {
    padding-top:20px;
    font-size:20px;
    height: 90px;
    width: 460px;
}

.btn-position {
    padding-top: 20px;
}


.process-btn {
    border-radius: 40px;
    width: 162px;
    height: 60px;
    font-size: 16px;
    background-color: rgb(55,52,169);
    border: none;
    color:azure;
}

.headline-link {
    padding-left:20px;
    font-size: 17px;
    text-decoration: none;
    padding-left: 40px; 
}

.fa-circle-play {
    vertical-align: middle;
    color: rgb(34,212,151)
}

.header-forms {
    width: 356px;
    height: 280px;
}

.form-title{
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 20px;
    text-align: left;
    color: rgb(79,70,186);
}

#email {
    width: 356px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #DFE4F1;
    box-sizing: border-box;
    border-radius: 5px;
    font-size:  20px;
    text-indent: 15px;
}

#password {
    width: 356px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #DFE4F1;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 20px;
    text-indent: 15px;
}

.submit-btn {
    width: 356px;
    height: 50px;
    background: rgb(255,127,92);
    border: 1px solid #DFE4F1;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    color:azure;
}

/* header area completes */

/* companies area starts*/

.companies-area {
    height: 100px;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-items: center;
}

.companies {
    height: 95px;
    width: 1000px;
}

.companies-title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.companies-logo-area {
    text-align: center;
    padding-top: 25px;
}

.company-logo {
    padding-inline: 25px;
}

.about-area {
    display: grid;
    height: 200px;
    grid-template-columns: auto;
    align-items: center;
    justify-items: center;
}

.about-elements {
    width: 800px;
    height: 200px;
    padding-top: 50px;
}

.about-header {
    font-size: 45px;
    font-weight: 800;
    letter-spacing: 2px;
}

.about-para {
    width: 600px;
    padding-top:20px;
    padding-left: 100px;
    padding-right:100px;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 20px;
}

.about-btn {
    width: 500px;
    height: 45px;
    border-radius: 10px;;
    position: relative;
    left: 125px;
    font-size: 17px;
    text-align: center;
    background-color: rgb(55,52,169);
    border: 0px;
    color: azure;
}

/* about area done */

/* process are starts */
.process-area-position {
    padding-top: 60px;
    display: grid;
    height: 400px;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}


.process-area {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 50px;
}

.process-area-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.process-item-details {
    width: 300px;
    position: absolute;
    top:inherit;
    z-index: 2;
}

.process-item-title {
    font-size: 16px;
    font-weight: 800;
    padding-bottom: 5px;
}

.process-item-para {
    width: 280px;
    font-size: 14px;
    font-weight: 500;
}

/* process item completed */

/* cta box area starts */

.cta-box-area {
    display: grid;
    grid-template-columns: 1fr;
    height: 200px;
    justify-items: center;
    align-items: center;

}

.cta-box {
    display: grid;
    grid-template-columns: 500px 300px;
    grid-gap: 100px;
    padding: 50px;
    background-color: rgb(248,249,253);
    border-radius: 15px;
    
}

.cta-box-item {
    background-color: rgb(248,249,253);
}

.cta-box-title {
    background-color: rgb(248,249,253);
    font-size: 36px;
    font-weight: 800;
}

.cta-btn-position {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

/* content area starts */

.content-area {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    height: 500px;
    justify-items: center;
    align-items: center;
  
}

.content {
    display: grid;
    width: 80%;
    height: 550px;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
}

.content-cards-mult {
    height: 400px;
    width: 400px;
    position: relative;
}

.content-card-position {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(254,254,254);
}


.content-cards-profile {
    display: grid;
    height: 50px;
    grid-template-columns: 50px auto;
    grid-gap: 20px;
    align-items: center;
    padding-left: 5px;
    padding-bottom: 15px;
    background-color: rgb(254,254,254);
}

.content-card-area {
    position: relative;
    height:350px;
    width:350px;
    border: 1px #DFDFDF solid;
    bottom: 40px;
    border-radius: 10px;
    padding-left: 15px;
    background-color: rgb(254,254,254);
}

.profile-image {
    background-color: rgb(254,254,254);
}

.profile-name {
    background-color: rgb(254,254,254);
    font-size: 18px;
    font-weight: 600;
}

.profile-designation {
    background-color: rgb(254,254,254);
    font-size: 14px;
    font-weight: 600;
    color: #6C6C6C;

}

.content-icon {
    width: 80px;
    position: relative;
    text-align: right;
    left: 325px;
    z-index: 1; 
}

.content-cards-mult-title {
    font-size: 24px;
    font-weight: 700;
    padding-top: 10px;
    background-color: rgb(254,254,254);
}

.content-cards-link {
    font-size: 18px;
    font-weight: 500;
    color: #FF6160;
    padding-left: 5px;
    text-decoration: none;
    background-color: rgb(254,254,254);
}

.content-card-single {
    width: 380px;
    height: 300px;
    border: 1px #DFDFDF solid;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(254,254,254);
    position: relative;
    right: 300px;
    top:190px;
}

.content-card-image {
    color:transparent;
}

.content-card-name {
    background-color: rgb(254,254,254);
    text-align: center;
    font-size:20px;
    font-weight: 800;
}

.content-card-designation {
    padding-top: 5px;
    background-color: rgb(254,254,254);
    text-align: center;
    font-size:14px;
    font-weight: 500;
}

.content-btn {
    width: 166px;
    height: 42px;
    background-color: #0091D0;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 10px;
    border: 0;
}

.content-body {
    position: relative;
    right: 100px;
    padding-top:40px;
    height: 500px;
    width: 400px;
}

.content-body-title {
    font-size: 14px;
    font-weight: 700;
    color: #3734A9;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.content-body-header {
    font-size: 50px;
    font-weight: 800;
    color: #000000;
    line-height: 60px;
    padding-bottom: 40px;
}

.content-body-para {
    font-size: 18px;
    font-weight: 500;
    color: #505887;
    line-height: 30px;
    letter-spacing: -2;
    padding-bottom: 30px;
}

.content-body-list {
    list-style: none;
    margin: 0;
    padding-left:0;
}
.fa-circle-check {
    padding-right: 5px;
    color: #FDBC64;
}
.content-body-list-item {
    padding-bottom: 10px;
    font-size: 19px;
    font-weight: 500;
}

/* value props area starts */

.value-props-area {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}


.value-props {
    padding-top: 50px;
    width:90%;
    height: 650px;
    display: grid;
    grid-template-rows: 150px 400px 100px;
    justify-items: center;
    align-items: center;
    
}

.vp-title {
    width: 700px;
    text-align: center;
}
.value-props-title {
    font-size: 42px;
    font-weight: 800;
    padding-bottom: 5px;
}

.value-props-para {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.value-props-cards {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.vp-card {
    height: 350px;
    width: 360px;
    border: 2px #DFDFDF solid;
    border-radius: 20px;
}

.vp-card-title {
    width: 301px;
    height: 80px;
    font-size: 25px;
    font-weight: 800;
    color: #1B1C31;
    text-align: left;
    padding-left: 20px;
    padding-top: 100px;
}

.vp-card-para {
    width: 318px;
    height: 90px;
    font-size: 16px;
    font-weight: 500;
    color: #64607D;
    text-align: left;
    padding-left: 20px;
}

.vp-card-link {
    font-size: 16px;
    font-weight: 500;
    color: #01966B;
    padding-left: 20px; 
    text-decoration: none;
}

.value-props-btn {
    width: 200px;
}

.bgc {
    background-color: rgb(254,254,254); 
}

/* stat area starts */

.stat-area {
    width:90%;
    height:200px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top:50px;
    padding-bottom: 50px;
}

.stat{
    display: grid;
    height: 140px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    border: 2px #DFDFDF solid;
    border-radius: 15px;
    padding: 20px;
}

.stat-title {
    font-size:40px;
    font-weight: 800;
    letter-spacing: 2px;
}

.stat-item {
    display: grid;
    grid-template-columns: 70px auto;
    justify-items: center;
    align-items: center;
}

.stat-icon {
    height: 60px;
    width: 60px;
}


.stat-para {
    display: inline;
}

/* testimonial area starts */

.testimonial-area {
    width: 90%;
    height: 650px;
    padding-left: 5%;
    padding-right: 5%;
}

.testimonial {
    height: 650px;
    display: grid;
    grid-template-rows: 120px 450px auto;
}

.testimonial-content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-content: center;
}

.testimonial-mini-title {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #4b48b2;
    padding-bottom: 5px;
}

.testimonial-big-title {
    width: 324px;
    font-size: 40px;
    font-weight: 800;
}

.testimonial-img {
    position: relative;
    align-self: start;
}

#segment {
    position: relative;
    right: 620px;
    bottom: 40px;
    background-color: rgb(79,70,186);
}

#invert {
    position:relative;
    right:180px;
    bottom:180px;
}

/* for rounded shaped image */

.round {
    border-radius: 50%;
}

.testimonial-img-caption {
    align-self: start;
}

.ti-caption-icon {
    padding-bottom: 10px;
}

.ti-caption-title {
    font-size: 20px;
    font-weight: 800;
    width: 297.5px;
    line-height: 30px;
    padding-bottom: 10px;
}

.ti-caption-para {
    font-size: 16px;
    font-weight: medium;
    color: #757095;
    line-height: 24px;
    width: 455px;
    padding-bottom: 20px;
}

.ti-caption-star {
    color: rgb(249,137,107);
    padding-bottom: 5px;
}

.ti-caption-name {
    padding-bottom: 5px;
}

.fa-circle-arrow-left {
    padding-right: 10px;
    color: #4b48b2;
}

.fa-circle-arrow-right {
    color:#757095;
}


/* blog area starts */

.blog-area {
    height: 650px;
    width:90%;
    padding-left:5%;
    padding-right:5%;
}

.blog{
    width:100%;
    display: grid;
    grid-template-rows: 100px auto;
}

.blog-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.blog-title {
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    align-items: center;
}

.blg-title {
    font-size: 42px;
    line-height: 50px;
    font-weight: 800;
}

.blog-btn {
    justify-self: end;
    width: 250px;
}

.blog-col {
    align-self: start;
    justify-self: start;
}

figcaption {
    padding-top: 2px;
    padding-bottom:2px;
    font-size: 16px;
    line-height: 30px;
    color: #64607D;
}

.blog-col-title {
    padding-bottom:5px;
    width: 378px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 800;
}

.blog-col-para {
    padding-bottom:5px;
    width: 378px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
}

.blog-img-item {
    height: 100px;
    display: grid;
    grid-template-columns: 140px auto;
}

.blog-img-item-title {
    width: 300px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 800;
}

.ending-cta-area {
    width: 100%;
    height: 450px;
    background-color: #4b48b2;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

.ending-cta {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    align-items: center;
    background-color: #4b48b2;
}

.ecta-content {
    height: 400px;
    width: 480px;
    display: grid;
    grid-template-rows: 50px 230px 60px;
    justify-items: center;
    align-items: center;
    background-color: #4b48b2;
}
.ecta-content-mini-title {
    justify-self: start;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    background-color: #4b48b2;
    color: white;
}

.ecta-content-title {
    font-size: 50px;
    line-height: 60px;
    font-weight: 800;
    padding-bottom: 30px;
    background-color: #4b48b2;
    color: white;
}

.ecta-content-para {
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    background-color: #4b48b2;
    color:white;
}

input {
    width: 371px;
    height: 50px;
    border-radius: 5px;
    background-color: #F2F3F4;
    padding-left: 15px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
    color:white;
    border: none;
}

.ecta-submit-btn {
    width: 392px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(249,137,107);
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    color:white;
    border:none;
}

.ecta-form {
    background-color: #4b48b2;
    padding-left: 150px;
}

/* footer area starts */

.footer-area {
    height: 450px;
    width: 100%;
    display: grid;
    grid-template-rows: 300px auto;
    justify-items: center;
    align-items: center;
}

.footer-position {
    width: 90%;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 30px;
    justify-items: center;
    align-items: start;
}

.footer-copyright {
    width: 80%;
    text-align: center;
}

.fc-para {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    padding-top: 20px;
    letter-spacing: -0.02em;
}

.fheader {
    font-size: 21px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.02em;
    text-align: left;

}

.media-icon {
    padding-top: 20px;
    color: #3734A9;
}

.contact-area {
    width: 250px;
    justify-self: start;
}

.newsletter-area {
    width: 300px;
    justify-self: start;
}

.company-area {
    justify-self: start;
}
.resources-area {
    justify-self: start;
}

.flist {
    padding-top: 10px;
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    padding-left: 0px;
    
}

.f-link {
    text-decoration: none;
    color: #181433;
}

.fl-item {
    padding-bottom: 10px ;
}

#newsletter-form {
    padding-top: 10px;
    display: flex;
}


#news-email {
    width: 150px;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.02em;
    text-align: left;
    border-radius: 0px;
    color:white;
    margin: none;
    border: none;
}

.subscribe-btn {
    display: inline;
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.02em;
    text-align: center;
    color:white;
    background-color: #3734a9;
    border: none;
}